<h2>Heroes dashboard</h2>

<h3>Top heroes</h3>

<mat-grid-list cols="2" rowHeight="5rem">
    <mat-grid-tile *ngFor="let hero of topHeroes" routerLink="/hero/{{hero.id}}/details">
        {{ hero.name }}
    </mat-grid-tile>
</mat-grid-list>