<ng-template [ngIf]="hero">
    <h2>Hero details</h2>
    <h3>{{ hero.name | uppercase }}</h3>

    <mat-form-field color="accent">
        <input matInput placeholder="Hero name" [(ngModel)]="hero.name">
    </mat-form-field>

    <button mat-button color="accent" (click)="onSave(hero)">Save</button>
</ng-template>