<ng-template [ngIf]="messagesService.messages.length">
    <h4>System messages</h4>

    <button mat-button color="warn" (click)="messagesService.clear()">Clear messages</button>

    <mat-list>
        <mat-list-item *ngFor="let message of messagesService.messages">
            {{ message }}
        </mat-list-item>
    </mat-list>
</ng-template>